.navbar {
  padding: 20px 0;
}
.navbar__icon-menu {
  font-size: var(--sr-foz);
  color: var(--sr-dr-color);
}
@media (min-width: 768px) {
  .navbar__icon-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar__icon-menu:hover .navbar__links {
    display: flex;
  }
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  font-size: 20px;
  font-weight: 900;
  color: transparent;
  color: var(--sr-secondary-color);
  background-clip: text;
  text-transform: capitalize;
}
.navbar__links {
  display: flex;
  justify-content: center;
  gap: 65px;
}
@media (max-width: 767px) {
  .navbar__links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999999;
  }
}
.navbar__links-item a {
  color: var(--sr-secondary-color);
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
}
.navbar__links-item a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--sr-secondary-color);
  bottom: 0;
  transition: 0.5s;
}
.navbar__links-item:hover a::before {
  width: 100%;
  left: 0;
}
.navbar__theem-mode {
  width: 40px;
  height: 40px;
  background: var(--logo-background);
  border-radius: 50%;
  position: relative;
}
.navbar__theem-mode i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  font-size: var(--sr-foz);
}
.navbar__icon-menu {
  font-size: var(--sr-foz);
  color: var(--sr-dr-color);
}
@media (min-width: 768px) {
  .navbar__icon-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar__icon-menu:hover .navbar__links {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999999;
  }
}

.banner {
  /*   .container {
      display: flex;
      flex-wrap: wrap;
      column-gap: 6%;
      align-items: center;
      @media (max-width: 990px) {
        column-gap: 4%;
      }
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 40px;

      }
    } */
  /* 
    &__img {
      position: relative;
      max-width: 388px;
      width: 400px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      background-color: var(--secondary-color);
      // transform: rotate(10deg);
      // transition: 1s;
      text-align: center;
      @media (max-width: 990px) {
      }

      @media (max-width: 767px) {
        width: 250px;
        height: 250px;
        order: -1;
      }

  /*     &:hover {
        transform: rotate(0deg);
      } */
  /*     &:hover & img {
        border-color: var(--secondary-color);
      }
      & img {
        max-width: 140%;
        height: 100%;
        border: 1px solid var(--primary-color);
        border: 1px solid transparent;
        border-radius: 50%;
        margin-bottom: -50px;
      }
    } */
}
.banner__content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 767px) {
  .banner__content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
}
.banner__content-hello {
  color: var(--sr-txt-color);
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}
@media (max-width: 990px) {
  .banner__content-hello {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .banner__content-hello {
    font-size: 16px;
  }
}
.banner__content-heading1 {
  color: var(--sr-secondary-color);
  text-transform: capitalize;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 990px) {
  .banner__content-heading1 {
    font-size: 4rem;
  }
}
@media (max-width: 767px) {
  .banner__content-heading1 {
    font-size: 3.2rem;
  }
}
.banner__content-description {
  color: var(--sr-txt-color);
  font-size: 18px;
  margin: 20px 0;
}
.banner__content-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .banner__content-contact {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.banner__content-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.banner__content-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--sr-bor-color);
  transition: 0.5s;
  cursor: pointer;
}
.banner__content-icon:hover {
  background: var(--sr-secondary-color);
}
.banner__content-icon:hover i {
  color: var(--sr-wi-color);
}
.banner__content-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--sr-secondary-color);
  font-size: 20px;
}
.banner__content-btn-click {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 24px;
  transition: 0.5s;
  background-color: var(--sr-secondary-color);
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--sr-wi-color);
}
.banner__content-btn-click a {
  color: var(--sr-wi-color);
}
.banner__content-btn-click:hover {
  border-color: var(--sr-c1-color);
  background-color: var(--secondary-color);
  color: var(--sr-secondary-color);
}
.banner__content-btn-click:hover i {
  transform: rotate(-20deg);
}
.banner__content-btn-click:hover a {
  color: var(--sr-secondary-color);
}

.header {
  /*     background-image: url("/images/background.jpg");
      background-size: cover;
      position: relative;

      &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          background-color: rgba(0 0 0/ 90%);
      } */
  min-height: 100vh;
  background: var(--sr-primary-color);
  position: relative;
  width: 100%;
}
.header__icon-mood {
  width: 40px;
  height: 60px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--sr-secondary-color);
  border-radius: 8px;
}
.header__icon-mood i {
  color: var(--sr-wi-color);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills {
  padding-top: 40px;
  padding-bottom: 40px;
  /*   &__tap {
      display: flex;
      width: 300px;
      justify-content: space-between;
      align-items: center;
      background-color: var(--sr-secondary-color);
      padding: 8px 20px;
      border-radius: 20px;
      margin: 0 auto 80px;

      &-item {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
        margin: auto;
        color: var(--sr-wi-color);
        font-weight: 600;
        background-color: var(--sr-secondary-color);

        &:hover,
        &--active {
          transform: translateY(-20px);
      border: 3px solid #f3efef ;
        }
      }

    } */
}
.skills__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.skills__card {
  background-color: var(--sr-crd-color);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: 0.5s;
}
.skills__card:hover .skills__card-icon {
  filter: grayscale(0);
}
.skills__card:hover {
  border-color: var(--sr-bor-color);
}
.skills__card-icon {
  width: 70px;
  filter: grayscale(90%);
  margin-bottom: 20px;
  transition: 0.5s;
}
.skills__card-name-sk {
  color: var(--sr-txt-color);
  text-transform: uppercase;
  transition: 0.5s;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  /*   & .title-section {
      margin-bottom: 0;
      text-align: left;
      @media (max-width: 767px) {
        text-align: center;
      }
    } */
  /* 
    &__img {
        width: 40%;
        @media (max-width: 990px) {
          width: 48%;
        }
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        &-svg {
            width: 100%;
        }
    } */
}
.about__content {
  background: var(--sr-primary-color);
  padding: 20px;
  border: 1px solid var(--sr-bor-color);
  border-radius: 8px;
}
.about__content p {
  font-size: 18px;
  line-height: 2;
  color: var(--sr-txt-color);
}
.about__content span {
  font-weight: 800;
}
.about__content a {
  font-weight: 600;
}
@media (max-width: 767px) {
  .about__content {
    flex-direction: column;
    text-align: center;
  }
}
.about__btn-cv {
  display: flex;
  align-items: center;
  column-gap: 3px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: 0.5s;
  background: var(--sr-secondary-color);
  color: var(--sr-wi-color);
  padding: 10px 20px;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .about__btn-cv {
    margin-left: auto;
    margin-right: auto;
  }
}
.about__btn-cv:hover {
  background: transparent;
  color: var(--sr-txt-color);
  border-color: var(--sr-c1-color);
  cursor: pointer;
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .contact__content {
    flex-direction: column;
  }
}
.contact__img {
  width: 48%;
  border-radius: 12px;
}
@media (max-width: 990px) {
  .contact__img {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .contact__img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.contact__img .bac-img {
  width: 100%;
  border-radius: 16px;
}
.contact__application {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 990px) {
  .contact__application {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .contact__application {
    width: 100%;
  }
}
.contact__card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--sr-crd-color);
  padding: 20px 20px;
  gap: 20px;
  border-radius: 20px;
  transition: 0.5s;
  border: 1px solid transparent;
  text-align: center;
}
@media (max-width: 767px) {
  .contact__card {
    flex-direction: column;
  }
}
.contact__card:hover {
  transform: translateY(-6px);
  border-color: var(--sr-bor-color);
}
.contact__card-icon {
  background-color: var(--sr-secondary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 767px) {
  .contact__card-icon {
    margin-left: auto;
    margin-right: auto;
  }
}
.contact__card-icon i {
  color: var(--sr-wi-color);
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact__card a {
  flex: 1;
  display: block;
  color: var(--sr-txt-color);
  font-size: 20px;
}

.footer {
  min-height: 100px;
  padding: 50px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 60px;
}
.footer p {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--sr-secondary-color);
}
.footer p span {
  font-size: 20px;
  color: var(--sr-c1-color);
}

.portfolio .repos .repo {
  margin-bottom: 20px;
}
.portfolio .repos h2 {
  color: #333;
}
.portfolio .repos a {
  color: #0366d6;
  text-decoration: none;
}
.portfolio .repos a:hover {
  text-decoration: underline;
}

/*  :root {
    --primary-color: #333333;
    --secondary-color: #007BFF;
    --sr-c1-color: #fff;
    --logo-background: linear-gradient(to right, #4E0DD3, hsl(260, 83%, 21%));
    --sr-foz: 26px;
    --sr-title-color: linear-gradient(to right, #4E0DD3, #563D88, #270962, #270962);
    --sr-text-color: #666666;
    --sr-cards-color: #f0f0f0;
    --sr-txt-color: rgb(0 0 0/70%);
} */
:root {
  --sr-wi-color: #fff;
  --sr-bcr-color: #edeef0;
  --sr-primary-color: linear-gradient(45deg,#fff, #fff,#fff, rgba(105, 105, 248, 0.445), #fff,rgba(186, 186, 235, 0.445));
  --sr-secondary-color: #000;
  --sr-txt-color: #252525;
  --sr-c1-color: rgb(127, 201, 250);
  --sr-bor-color: #b8b5b5;
  --sr-crd-color: #ffffff;
}

.dark-them {
  --sr-bcr-color: #070c18;
  --sr-wi-color: #044977;
  --sr-primary-color: linear-gradient(to bottom,#030712, #081129);
  --sr-secondary-color: #fafafa;
  --sr-txt-color: #c8cace;
  --sr-c1-color: rgb(127, 201, 250);
  --sr-bor-color: #b8b5b586;
  --sr-crd-color: #1F2937;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "cairo", sans-serif;
  background-color: var(--sr-bcr-color);
}

.container {
  width: 1200px;
  max-width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title-section {
  margin-bottom: 50px;
  text-align: center;
}
.title-section h2 {
  text-align: center;
  font-size: 40px;
  color: var(--sr-secondary-color);
  text-transform: capitalize;
  position: relative;
}
.title-section h2::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 6px;
  background-color: var(--sr-c1-color);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 4px;
}
.title-section h2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--sr-c1-color);
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
}
.title-section p {
  font-size: 20px;
  color: var(--sr-text-color);
  margin-top: -10px;
}

/*# sourceMappingURL=style.css.map */
