.navbar {
  padding: 20px 0;
  position: relative;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  font-size: 20px;
  color: transparent;
  background: var(--logo-background);
  background-clip: text;
  text-transform: capitalize;
}
.navbar__links {
  display: flex;
  justify-content: center;
  gap: 65px;
}
@media (max-width: 767px) {
  .navbar__links {
    display: none;
  }
}
.navbar__links-item a {
  color: transparent;
  background: var(--logo-background);
  background-clip: text;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
}
.navbar__links-item a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--logo-background);
  bottom: 0;
  transition: 0.5s;
}
.navbar__links-item:hover a::before {
  width: 100%;
  left: 0;
}
.navbar__theem-mode {
  width: 40px;
  height: 40px;
  background: var(--logo-background);
  border-radius: 50%;
  position: relative;
}
.navbar__theem-mode i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  font-size: var(--sr-foz);
}
.navbar .icon-menu {
  font-size: var(--sr-foz);
  color: var(--sr-dr-color);
}
@media (min-width: 768px) {
  .navbar .icon-menu {
    display: none;
  }
}
.navbar .icon-menu:hover .navbar__links {
  display: flex;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999999;
}

.banner {
  padding: 30px 0;
}
.banner .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6%;
  align-items: center;
}
@media (max-width: 990px) {
  .banner .container {
    column-gap: 4%;
  }
}
@media (max-width: 767px) {
  .banner .container {
    flex-direction: column;
    gap: 40px;
  }
}
.banner__img {
  position: relative;
  max-width: 438px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(10deg);
  transition: 1s;
  text-align: center;
}
@media (max-width: 990px) {
  .banner__img {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .banner__img {
    width: 100%;
    order: -1;
  }
}
.banner__img:hover {
  transform: rotate(0deg);
}
.banner__img:hover .banner__img img {
  border-color: var(--secondary-color);
}
.banner__img img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid transparent;
}
@media (max-width: 767px) {
  .banner__img img {
    max-width: 80%;
  }
}
.banner__content {
  width: 45%;
}
@media (max-width: 990px) {
  .banner__content {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .banner__content {
    width: 100%;
    text-align: center;
  }
}
.banner__content-hello {
  color: var(--sr-dr-color);
  font-size: 38px;
  font-weight: bold;
  text-transform: capitalize;
}
@media (max-width: 990px) {
  .banner__content-hello {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .banner__content-hello {
    font-size: 24px;
  }
}
.banner__content-heading1 {
  color: transparent;
  text-transform: capitalize;
  background: var(--sr-title-color);
  -webkit-background-clip: text;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (max-width: 990px) {
  .banner__content-heading1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .banner__content-heading1 {
    font-size: 26px;
  }
}
.banner__content-description {
  color: var(--sr-text-color);
  font-size: 20px;
}
.banner__content-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .banner__content-contact {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.banner__content-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.banner__content-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--secondary-color);
  transition: 0.5s;
}
.banner__content-icon:hover {
  background: var(--secondary-color);
}
.banner__content-icon:hover i {
  color: var(--primary-color);
}
.banner__content-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: var(--sr-foz);
}
.banner__content-btn-click {
  border: none;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  font-size: 20px;
  transition: 0.5s;
}
.banner__content-btn-click:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.header {
  width: 100%;
}

.skills {
  padding-top: 40px;
  padding-bottom: 40px;
}
.skills__tap {
  display: flex;
  width: 300px;
  justify-content: space-between;
  background-color: var(--sr-cards-color);
  padding: 8px;
  border-radius: 20px;
  margin: 0 auto 80px;
}
.skills__tap-item {
  font-size: 16px;
  padding: 6px;
  text-transform: capitalize;
  min-width: 20%;
  text-align: center;
  color: var(--sr-txt-color);
  font-weight: 600;
}
.skills__tap-item:hover, .skills__tap-item--active {
  color: var(--sr-dr-color);
  border-radius: 16px;
}
.skills__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.skills__card {
  background-color: var(--sr-cards-color);
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: 0.5s;
}
.skills__card:hover .skills__card-icon {
  filter: grayscale(0);
}
.skills__card:hover {
  border-color: var(--sr-dr-color);
}
.skills__card-icon {
  width: 70px;
  filter: grayscale(90%);
  margin-bottom: 20px;
  transition: 0.5s;
}
.skills__card-name-sk {
  color: var(--sr-txt-color);
  text-transform: uppercase;
  transition: 0.5s;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .about__content {
    flex-direction: column;
    text-align: center;
  }
}
.about .title-section {
  margin-bottom: 0;
  text-align: left;
}
@media (max-width: 767px) {
  .about .title-section {
    text-align: center;
  }
}
.about__img {
  width: 40%;
}
@media (max-width: 990px) {
  .about__img {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .about__img {
    width: 100%;
    text-align: center;
  }
}
.about__img-svg {
  width: 100%;
}
.about__description {
  width: 50%;
}
@media (max-width: 990px) {
  .about__description {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .about__description {
    width: 100%;
    text-align: center;
  }
}
.about__description p {
  font-size: 18px;
  color: var(--sr-text-color);
}
.about__description p span {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 500;
}
.about__btn-cv {
  display: flex;
  align-items: center;
  column-gap: 3px;
  font-size: 18px;
  border-radius: 16px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px 20px;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .about__btn-cv {
    margin-left: auto;
    margin-right: auto;
  }
}
.about__btn-cv:hover {
  background: var(--logo-background);
  color: var(--primary-color);
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .contact__content {
    flex-direction: column;
  }
}
.contact__img {
  width: 48%;
}
@media (max-width: 990px) {
  .contact__img {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .contact__img {
    width: 100%;
    text-align: center;
  }
}
.contact__img .svg {
  width: 100%;
}
.contact__application {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 990px) {
  .contact__application {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .contact__application {
    width: 100%;
  }
}
.contact__card {
  display: flex;
  align-items: center;
  background-color: var(--sr-cards-color);
  padding: 30px 20px;
  gap: 30px;
  border-radius: 20px;
  transition: 0.5s;
  border: 1px solid transparent;
}
.contact__card:hover {
  transform: translateY(-6px);
  border-color: var(--secondary-color);
}
.contact__card-icon {
  background-color: var(--secondary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.contact__card-icon i {
  color: var(--primary-color);
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact__card a {
  color: var(--sr-txt-color);
  font-size: 20px;
}

:root {
  --primary-color: #FFFCFC;
  --secondary-color: #24075c;
  --sr-dr-color: #4E0DD3;
  --logo-background: linear-gradient(to right, #4E0DD3, #270962);
  --sr-foz: 26px;
  --sr-title-color: linear-gradient(to right, #4E0DD3, #563D88, #270962, #270962);
  --sr-text-color: #180343;
  --sr-title-color: linear-gradient(to right, #4E0DD3, #563D88, #270962, #270962);
  --sr-cards-color: #f0f0f0;
  --sr-txt-color: rgb(77, 76, 76);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "cairo", sans-serif;
  background-color: var(--primary-color);
}

.container {
  width: 1200px;
  max-width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title-section {
  text-align: center;
  margin-bottom: 50px;
}
.title-section h2 {
  font-size: 40px;
  background: var(--sr-title-color);
  color: transparent;
  -webkit-background-clip: text;
  text-transform: capitalize;
}
.title-section p {
  font-size: 20px;
  color: var(--sr-text-color);
  margin-top: -10px;
}

/*# sourceMappingURL=style.css.map */
