* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "cairo", sans-serif;
    background-color: var(--sr-bcr-color);
}
.container {
    width: 1200px;
    max-width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title-section {
    margin-bottom: 50px;
    text-align: center;
   & h2 {
    text-align: center;
    font-size: 40px;
    color: var(--sr-secondary-color);
    text-transform: capitalize;
    }

    & p {
        font-size: 20px;
        color: var(--sr-text-color);
        margin-top: -10px;
    }
}
@media (max-width: 767px) {
    .navbar__links {
      display: none;
    }
    .links-appear {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: center;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      background-color: var(--secondary-color);
    }
    .links-appear li {
      width: 100%;
      border-bottom: 1px solid var(--border-color);
    }
    .links-appear li:last-child {
      border-bottom: none;
    }
    .links-appear a {
      color: var(--text-color);
      padding: 10px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }