* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "cairo", sans-serif;
    background-color: var(--primary-color);
}
.container {
    width: 1200px;
    max-width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title-section {
    text-align: center;
    margin-bottom: 50px;
   & h2 {
    font-size: 60px;
    background: var(--sr-title-color);
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    }

    & p {
        font-size: 20px;
        color: var(--sr-text-color);
        margin-top: -10px;
    }
}