* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "cairo", sans-serif;
    background-color: var(--sr-bcr-color);
}
.container {
    width: 1200px;
    max-width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title-section {
    margin-bottom: 50px;
    text-align: center;
   & h2 {
    text-align: center;
    font-size: 40px;
    color: var(--sr-secondary-color);
    text-transform: capitalize;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 6px;
      background-color: var(--sr-c1-color);
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      border-radius: 4px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: var(--sr-c1-color);
      left: 50%;
      bottom: -2px;
      transform: translateX(-50%);
    }
    }

    & p {
        font-size: 20px;
        color: var(--sr-text-color);
        margin-top: -10px;
    }
}