 :root {
    --primary-color: #FFFCFC;
    --secondary-color: #4E0DD3;
    --sr-dr-color: #180343;
    --logo-background: linear-gradient(to right, #4E0DD3, #270962);
    --sr-foz: 26px;
    --sr-title-color: linear-gradient(to right, #4E0DD3, #563D88, #270962, #270962);
    --sr-text-color: #180343;
}