.about {
    padding-top: 60px;
    padding-bottom: 60px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
            text-align: center;
        }

    }

    & .title-section {
        margin-bottom: 0;
        text-align: left;
        @media (max-width: 767px) {
            text-align: center;
        }
        
    }

    &__img {
        width: 40%;
        @media (max-width: 990px) {
          width: 48%;
        }
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        &-svg {
            width: 100%;
        }
    }
    
    &__description {
        width: 50%;
        @media (max-width: 990px) {
          width: 48%;
        }
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        & p {
            font-size: 18px;
            color: var(--sr-text-color);

            & span {
                color: var(--secondary-color);
                font-size: 24px;
                font-weight: 500;
            }
        }
    }

    &__btn-cv  {
        display: flex;
        align-items: center;
        column-gap: 3px;
        font-size: 18px;
        border-radius: 16px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid var(--secondary-color);
        padding: 10px 20px;
        margin-top: 30px;
        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;

        }

        &:hover {
            background: var(--logo-background);
            color: var(--primary-color);
        }
    }
}