.about {
  padding-top: 60px;
  padding-bottom: 60px;
  &__content {
    background: var(--sr-primary-color);
    padding: 20px;
    border: 1px solid var(--sr-bor-color);
    border-radius: 8px;
    & p {
      font-size: 18px;
      line-height: 2;
      color: var(--sr-txt-color)
    }

    & span  {
      font-weight: 800;
    }
    & a {
      font-weight: 600;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;

    }
  }

/*   & .title-section {
    margin-bottom: 0;
    text-align: left;
    @media (max-width: 767px) {
      text-align: center;
    }
  } */
  /* 
    &__img {
        width: 40%;
        @media (max-width: 990px) {
          width: 48%;
        }
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        &-svg {
            width: 100%;
        }
    } */


  &__btn-cv {
    display: flex;
    align-items: center;
    column-gap: 3px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: .5s;
    background: var(--sr-secondary-color);
    color: var(--sr-wi-color);
    padding: 10px 20px;
    margin-top: 30px;
    @media (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      background: transparent;
      color: var(--sr-txt-color);
      border-color: var(--sr-c1-color);
      cursor: pointer;
    }
  }
}
