.banner {
   .container {

  }
/*   .container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6%;
    align-items: center;
    @media (max-width: 990px) {
      column-gap: 4%;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 40px;

    }
  } */
/* 
  &__img {
    position: relative;
    max-width: 388px;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: var(--secondary-color);
    // transform: rotate(10deg);
    // transition: 1s;
    text-align: center;
    @media (max-width: 990px) {
    }

    @media (max-width: 767px) {
      width: 250px;
      height: 250px;
      order: -1;
    }

/*     &:hover {
      transform: rotate(0deg);
    } */
/*     &:hover & img {
      border-color: var(--secondary-color);
    }
    & img {
      max-width: 140%;
      height: 100%;
      border: 1px solid var(--primary-color);
      border: 1px solid transparent;
      border-radius: 50%;
      margin-bottom: -50px;
    }
  } */ 

  &__content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media (max-width: 990px) {
    }
    @media (max-width: 767px) {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    &-hello {
      color: var(--sr-text-color);
      font-size: 20px;
      font-weight: 400;
      text-transform: capitalize;
      @media (max-width: 990px) {
        font-size: 18px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    &-heading1 {
      color: var(--primary-color);
      text-transform: capitalize;
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.2;

      @media (max-width: 990px) {
        font-size: 4rem;
      }
      @media (max-width: 767px) {
        font-size: 3.2rem;
      }
    }
    &-description {
        color: var(--sr-txt-color);
        font-size: 18px;
        margin: 20px 0;
    }

    &-contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 26px;
      flex-wrap: wrap;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
      }
    }
    &-icons {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    &-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      border: 1px solid  var(--sr-secondary-color);
      transition: .5s;
      cursor: pointer;

      &:hover {
      background: var(--sr-secondary-color);
      }
      &:hover i {
        color: var(--sr-wi-color);
        }

      & i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--secondary-color);
        font-size: 20px;
      }
    }

    &-btn-click {
      display: flex;
      align-items: center;
      padding: 10px 40px;
      border-radius: 6px;
      color: var(--sr-wi-color);
      font-size: 24px;
      transition: .5s;
      background-color: var(--sr-secondary-color);
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        border-color: var(--sr-c1-color);
        background-color: var(--secondary-color);
      color: var(--sr-secondary-color);
      }

      &:hover i {
        transform: rotate(-20deg);
      }
    }
  }
}