.footer {
  min-height: 100px;
  padding: 50px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 60px;

  & p {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--sr-secondary-color);

    & span {
      font-size: 20px;
      color: var(--sr-c1-color);
    }
  }
}