@import 'navbar.scss';
@import 'banner.scss';
header {
/*     background-image: url("/images/background.jpg");
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: rgba(0 0 0/ 90%);
    } */
}
