.skills {
  padding-top: 40px;
  padding-bottom: 40px;

/*   &__tap {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sr-secondary-color);
    padding: 8px 20px;
    border-radius: 20px;
    margin: 0 auto 80px;

    &-item {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 16px;
      text-transform: capitalize;
      text-align: center;
      margin: auto;
      color: var(--sr-wi-color);
      font-weight: 600;
      background-color: var(--sr-secondary-color);

      &:hover,
      &--active {
        transform: translateY(-20px);
    border: 3px solid #f3efef ;
      }
    }

  } */

  &__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  &__card {
    background-color: var(--sr-crd-color);
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid transparent;
    transition: 0.5s;

    &:hover &-icon {
      filter: grayscale(0);
    }
    &:hover {
      border-color: var(--sr-bor-color);
    }

    &-icon {
      width: 70px;
      filter: grayscale(90%);
      margin-bottom: 20px;
      transition: 0.5s;
    }

    &-name-sk {
      color: var(--sr-txt-color);
      text-transform: uppercase;
      transition: 0.5s;
    }
  }
}
